# LLM API配置（支持 OpenAI SDK 格式的任意 LLM API）
# 推荐使用阿里百炼平台qwen-plus模型：https://bailian.console.aliyun.com/
# 注意消耗较大，可先进行小于40轮的模拟尝试
LLM_API_KEY=csk-w3w3df6fptx3mxk3khden6vp9f8ech2rpmr582evkce9ypyy
LLM_BASE_URL=https://api.cerebras.ai/v1
LLM_MODEL_NAME=llama3.3-70b







# ===== ZEP记忆图谱配置 =====
# 每月免费额度即可支撑简单使用：https://app.getzep.com/
ZEP_API_KEY=z_1dWlkIjoiY2Q0YjYxOGEtMGRiMi00ZmI4LWIyOWMtZTJhZTYzYTcyNGRmIn0.MXnkqlpS52l3pKrxg3D7YqFg096h-KcKwIIKK-hYC1N0JEa5DgBOq0EOJEJFRdJWKMxeiQm5MLeyh8WjppcXxQ

